@import '@keadex/keadex-ui-kit/src/styles/base.css';

@layer base {
  body {
    @apply select-none;
  }

  div[role='tooltip'] {
    @apply !duration-[0ms];
  }

  .Toastify__toast-container {
    white-space: pre-wrap;
  }
}
