@import '../components/AppMenu/AppMenu.css';
@import '../components/AppMenu/Panels/SearchPanel/SearchPanel.css';
@import '../views/DiagramEditor/DiagramEditor.css';
@import '../views/HomeProject/HomeProject.css';
@import '../views/ProjectSettings/ProjectSettings.css';
@import 'react-resizable/css/styles.css';
@import '@keadex/keadex-ui-kit/src/components/cross/Table/Table.css';
@import '@keadex/keadex-ui-kit/src/components/cross/Button/Button.css';
@import '@keadex/keadex-ui-kit/src/components/cross/Input/Input.css';
@import '@keadex/keadex-ui-kit/src/components/cross/Textarea/Textarea.css';
@import '@keadex/keadex-ui-kit/src/components/cross/Select/Select.css';
@import '@keadex/keadex-ui-kit/src/components/cross/Autocomplete/Autocomplete.css';
@import '@keadex/keadex-ui-kit/src/components/cross/DropdownMenu/DropdownMenu.css';
@import '@keadex/keadex-ui-kit/src/components/cross/InputButton/InputButton.css';
@import '@keadex/keadex-ui-kit/src/components/cross/Modal/Modal.css';
@import '@keadex/keadex-ui-kit/src/components/cross/Tags/Tags.css';
@import '@keadex/keadex-ui-kit/src/components/cross/TagsInput/TagsInput.css';
@import '@keadex/keadex-ui-kit/src/components/cross/Tooltip/Tooltip.css';
@import '@keadex/keadex-ui-kit/src/components/cross/ColorPicker/ColorPicker.css';
@import '@keadex/keadex-ui-kit/src/components/desktop/Window/Window.css';
