.Toastify__toast-container:has(div):has(.diagram-editor_toast--error) {
  @apply w-full left-0 px-5;
}

.diagram-editor_toast--error {
  @apply border-third border border-solid w-full whitespace-pre-wrap;
  font-family: monospace;
}

#diagram-code-editor-box .react-resizable-handle-e {
  @apply -right-0.5 bottom-0 top-0 z-[1] m-0 h-screen w-1 rotate-x-0;
}

#diagram-code-editor-box .react-resizable {
  @apply h-full;
}

.monaco-icon-label-container a {
  @apply no-underline;
}
