@layer base, nextra, components, utilities;

@import 'tailwindcss' source('../../src');
@import './twconfig.css';
@import './base.css';
@import './components.css';

@import 'nextra-theme-docs/style.css' layer(nextra);

body {
  @apply text-accent-secondary;
  font-family: 'Roboto', sans-serif !important;
}
.x\:dark\:text-slate-200 {
  &:where(.dark *) {
    @apply text-accent-secondary;
    font-family: 'Roboto', sans-serif !important;
  }
}

.nextra-sidebar-footer {
  @apply bg-primary;
}

.nextra-breadcrumb {
  @apply hidden;
}

.nextra-container div:has(> div.keadex-hide-timestamp) {
  @apply hidden;
}

.nextra-container a {
  @apply text-brand1! underline! underline-offset-[5px]!;
}

.nextra-container input {
  @apply placeholder:text-accent-secondary! text-accent-primary! p-2! py-1.5!;
  @apply focus:border-brand1! active:border-brand1! focus-visible:ring-0! focus-visible:ring-black/0! ring-offset-0!;
  @apply bg-secondary! border-third! block! w-full! rounded-md! border! border-solid! outline-hidden! ring-0! drop-shadow-[0_1px_2px_rgba(0,0,0,0.6)]!;
}

.nextra-container h1,
.nextra-container h2,
.nextra-container h3,
.nextra-container h4,
.nextra-container h5,
.nextra-container h6 {
  @apply text-accent-primary! font-normal! border-b-accent-third!;
}

.nextra-container main div:last-child {
  @apply border-t-accent-third;
}

.nextra-container main div:last-child a {
  @apply no-underline!;
}

.nextra-content {
  @apply text-accent-secondary!;
}

.nextra-breadcrumb div {
  @apply text-accent-third;
}

.nextra-breadcrumb :last-child {
  @apply text-accent-secondary;
}

.nextra-breadcrumb div:first-child {
  @apply hidden;
}

.nextra-breadcrumb svg:nth-child(2) {
  @apply hidden;
}

.nextra-breadcrumb div:nth-child(3) {
  @apply hidden;
}

.nextra-breadcrumb svg:nth-child(4) {
  @apply hidden;
}

.nextra-sidebar a,
.nextra-mobile-nav a {
  @apply text-accent-secondary! no-underline!;
}

.nextra-sidebar a:hover {
  @apply bg-secondary! text-accent-primary!;
}

.nextra-sidebar li.active a,
.nextra-mobile-nav li.active a {
  @apply bg-secondary! text-accent-primary!;
}

.nextra-sidebar button,
.nextra-mobile-nav button {
  @apply text-accent-secondary!;
}

.nextra-sidebar button:hover {
  @apply bg-secondary! text-accent-primary!;
}

.nextra-sidebar li.open.active button,
.nextra-mobile-nav li.open.active button {
  @apply bg-secondary! text-accent-primary!;
}

.nextra-navbar > div {
  @apply bg-dark-primary/60! shadow-md! backdrop-blur-md!;
}

.nextra-navbar nav {
  @apply py-4! h-auto!;
}

.nextra-navbar nav img {
  @apply h-[1.45rem]!;
}

.nextra-navbar nav > div:first-child {
  @apply mr-auto!;
}

.nextra-navbar nav > div:first-child > div > a:first-child {
  @apply mr-[5rem]!;
}

.nextra-navbar nav > div:first-child > div > a:nth-child(2),
.nextra-navbar nav > div:first-child > div > a:nth-child(3) {
  @apply mr-8! truncate! text-accent-secondary! no-underline! hidden! md:block!;
}

.nextra-navbar nav > div:first-child > div > a:nth-child(2):hover,
.nextra-navbar nav > div:first-child > div > a:nth-child(3):hover {
  @apply text-accent-primary!;
}

.nextra-navbar nav > a {
  @apply text-accent-secondary! text-base! ml-1! mr-auto!;
}

.nextra-navbar nav > a:hover {
  @apply text-accent-primary! opacity-100!;
}

.nextra-sidebar-container {
  @apply max-md:bg-dark-primary/60! max-md:backdrop-blur-md!;
}

.nextra-search {
  @apply w-65;
}

.nextra-search-results.nextra-scrollbar {
  @apply bg-secondary! border-third!;
}

.nextra-search-results.nextra-scrollbar span {
  @apply text-accent-secondary!;
}

.nextra-search-results.nextra-scrollbar a {
  @apply no-underline! bg-transparent!;
}

.nextra-search-results.nextra-scrollbar a:hover {
  @apply bg-link!;
  filter: none;
}

.nextra-search-results.nextra-scrollbar a > div {
  @apply text-accent-primary!;
}

.nextra-search-results.nextra-scrollbar a > div:nth-child(2) {
  @apply text-accent-secondary!;
}

.nextra-search-results.nextra-scrollbar a .nx-text-primary-600 {
  @apply text-accent-primary!;
}

.nextra-search-results.nextra-scrollbar .nx-border-b {
  @apply border-third! text-accent-primary!;
}

.nextra-toc > div > div {
  @apply hidden;
}

.nextra-toc > div > p {
  @apply text-accent-primary!;
}

.nextra-toc a {
  @apply text-accent-secondary! no-underline!;
}

.nextra-toc a:hover {
  @apply text-accent-primary!;
}

.nextra-filetree > div {
  @apply border-none;
}

.nextra-banner {
  @apply p-0;
}

.nextra-banner > div {
  @apply p-0;
}

.nextra-banner > button {
  @apply hidden;
}
