@import 'tailwindcss' source('../../src');
@import './twconfig.css';
@import './base.css';
@import './components.css';

/* Required to override Confluence default style */
html,
body,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
img,
pre,
form,
fieldset {
  margin: revert-layer !important;
  padding: revert-layer !important;
}
