name: 'release libraries'
on:
  push:
    branches:
      - main

env:
  FORGE_EMAIL: ${{ secrets.FORGE_EMAIL }}
  FORGE_API_TOKEN: ${{ secrets.FORGE_API_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.BOT_ACCESS_TOKEN }}
  HUSKY: 0
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  NPM_CONFIG_PROVENANCE: true
  VITE_GITHUB_CLIENT_ID_MINA: ${{ vars.VITE_GITHUB_CLIENT_ID_MINA }}

jobs:
  release-libraries:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write # needed for provenance data generation
    outputs:
      is_mina_affected: ${{ steps.affected.outputs.is_mina_affected }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.BOT_ACCESS_TOKEN }}

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'yarn'
          registry-url: 'https://registry.npmjs.org/'

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install Rust nightly (for Mina Live)
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2025-09-24 # cannot use latest because of https://github.com/wasm-bindgen/wasm-bindgen/issues/4727 that breaks building the Mina Live component

      - name: setup Rust nightly
        run: |
          rustup component add rust-src --toolchain nightly-2025-09-24-x86_64-unknown-linux-gnu

      - name: install dependencies (ubuntu only)
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - run: yarn --frozen-lockfile

      - run: npm config set workspaces-update false

      - name: setup git
        run: |
          git config --global user.email "159919634+keadexbot@users.noreply.github.com"
          git config --global user.name "Keadex Bot"

      - name: configure Atlassian Forge
        run: |
          npm install -g @forge/cli
          forge settings set usage-analytics false

      - uses: nrwl/nx-set-shas@v4

      - name: release libraries with nx version plans
        run: yarn nx release-keadex-projects
        shell: bash
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
